* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font: 16px/1.5 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    position: relative;
    z-index: 2;
}

@media (min-width: 576px) {
    .container {
        max-width: 490px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1250px) {
    .container {
        max-width: 1230px;
    }
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #111b26;
    padding: 10px 0 5px;
    box-shadow: 0 0 14px rgba(0, 0, 0, .4);

    z-index: 999;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__logo {
    max-width: 230px;
    width: 100%;
}

.header__logo img {
    display: block;
    width: 100%;
}

.content {
    overflow: hidden;
}

.text_white {
    color: #fff;
}

.text_blue {
    color: #2860bd;
}

.section {
    position: relative;
}

.footer {
    display: block;
    background: #111b26;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 70px;
}

.footer__logo {
    display: block;
    max-width: 230px;
    width: 100%;
}

.footer__logo img {
    display: block;
    width: 100%;
}

.footer__copyright {
    font-size: 12px;
}

.welcome {
    padding: 70px 0;

    background: url("../images/mountain.jpg") no-repeat center;
    background-size: cover;
}

.welcome::after {
    content: '';
    display: block;
    width: 100%;
    height: 398px;

    position: absolute;
    left: 50%;
    top: 0;

    transform: translateX(-50%);

    background: url("../images/bg-data.png") no-repeat center;
    background-size: cover;
}

.welcome__title {
    text-align: center;

    max-width: 700px;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.4;

    margin: 0 auto 42px;
}

.welcome__wrapper {
    display: flex;
    align-items: stretch;

    margin-right: -14px;
    margin-left: -14px;
}

.welcome__left,
.welcome__right {
    padding: 0 14px;
}

.welcome__left {
    width: 100%;
    flex-shrink: 1;
}

.welcome__right {
    width: 390px;
    flex-shrink: 0;
    height: auto;
}

.welcome__video-wrapper {
    display: block;
    width: 100%;
}

.welcome__video {
    position: relative;
    display: block;
    width: 100%;
    height: 0;

    background: #111b26;
    padding-top: 56.84%;

    border-radius: 15px;

    overflow: hidden;
}

.welcome__video iframe {
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    object-fit: cover;
    object-position: center;
}

.welcome__form {
    display: block;
    width: 100%;
    height: 100%;

    background: rgba(17, 27, 38, 0.9);
    padding: 20px 15px;
    border-radius: 15px;
}

.iti__country {
    font-size: 14px;
}

.welcome__name {
    text-align: center;
    font-weight: 700;

    font-size: 20px;
    line-height: 1.3;

    margin-bottom: 16px;
}

.welcome__label {
    display: block;
    width: 100%;

    margin-bottom: 12px;
}

.welcome__input {
    display: flex;
    align-items: center;
    width: 100%;

    border: 1px solid #575555;
    border-radius: 5px;

    height: 48px;

    padding: 5px 15px;

    font-size: 15px;

    font-family: 'Montserrat', sans-serif;
}

.welcome__checkbox {
    display: flex;
    align-items: flex-start;
}

.welcome__checkbox input {
    flex-shrink: 0;
    margin-right: 4px;
    margin-top: 5px;
}

.welcome__checkbox span {
    width: 100%;
    flex-shrink: 1;

    font-size: 12px;
}

.welcome__button {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    background: #12d11b;
    background: -moz-linear-gradient(top, #12d11b 0%, #069c0d 100%);
    background: -webkit-linear-gradient(top, #12d11b 0%, #069c0d 100%);
    background: linear-gradient(to bottom, #12d11b 0%, #069c0d 100%);

    height: 46px;
    width: 100%;
    max-width: 290px;

    margin: 0 auto;

    border: none;

    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;

    border-radius: 5px;

    cursor: pointer;

    transition: .3s;
}

.welcome__button:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .57), inset 0 2px 0 0 rgba(255, 255, 255, .3);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .57), inset 0 2px 0 0 rgba(255, 255, 255, .3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .57), inset 0 2px 0 0 rgba(255, 255, 255, .3);
}

.features,
.about,
.reviews {
    padding: 65px 0;
}

.about__list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.about__list > li:not(:last-of-type) {
    margin-right: 45px;
}

.about__item {
    width: 350px;
    border-radius: 15px;
    padding: 35px 20px;
    background-color: #1e2736;
}

.about__number {
    font-size: 35px;
    line-height: 1;

    font-weight: bold;
    text-align: center;

    margin-bottom: 10px;
}

.about__text {
    text-align: center;
    font-size: 14px;
}

.features {
    background-color: #fbfbfb;
}

.features::before {
    content: '';
    display: block;
    width: 120%;
    height: 400px;
    background-color: #fbfbfb;
    transform: translate(-50%, -100%) skewY(-8deg);
    position: absolute;
    left: 50%;
    top: 300px;
}

.features::after {
    content: '';
    display: block;
    width: 120%;
    height: 400px;
    background-color: #fbfbfb;
    transform: translate(-50%, 100%) skewY(-8deg);
    position: absolute;
    left: 50%;
    bottom: 300px;
}

.features__text {
    font-size: 14px;
    text-align: center;

    margin-bottom: 45px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

    margin-left: -10px;
    margin-right: -10px;

    margin-bottom: -20px;
}

.features__list > li {
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.features__item {
    height: 100%;

    border-radius: 15px;
    padding: 35px 20px;
    background: #1e2736;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.features__icon {
    width: 65px;
    height: 65px;

    margin: 0 auto 30px;

    position: relative;
}

.features__icon svg {
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    object-position: center;
    object-fit: contain;
}

.features__icon svg path {
    fill: #fff;
}

.client-testimonial-carousel {
    margin-bottom: 50px;
}

.client-testimonial-carousel .owl-dots button {
    height: 5px;
    background: #2860bd !important;
    width: 20px;
    display: inline-block;
    margin: 5px;
    transition: .2s;
    border-radius: 2px;
}

.client-testimonial-carousel button.owl-dot.active {
    background: #000 !important;
    width: 30px;
}

.client-testimonial-carousel .owl-dots {
    text-align: center;
    margin-top: 25px
}

.single-testimonial-item {
    position: relative;
    box-shadow: 0 0 2px #dadfd3;
    margin: 2px;
    padding: 20px;
    padding-left: 85px;
}

.single-testimonial-item:before {
    font-family: "Font Awesome 5 Free";
    content: "\f10e";
    font-weight: 900;
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 20px;
    color: #2860bd;
    line-height: 30px;
    margin-top: -15px;
}

.single-testimonial-item:after {
    background: #ddd;
    content: "";
    height: 70%;
    left: 60px;
    position: absolute;
    top: 10%;
    width: 1px;
}

.single-testimonial-item h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.single-testimonial-item h3 span {
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}

.single-testimonial-item p {
    font-size: 14px;
}

.reviews__text {
    font-size: 15px;
    text-align: center;

    max-width: 780px;
    width: 100%;

    margin: 0 auto 50px;
}

.features__description {
    font-size: 13px;
    text-align: center;
}

.content_thank {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;

    padding: 60px 15px 0;
}

.thank__title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;

    margin-bottom: 35px;
}

.thank__description {
    max-width: 592px;
    width: 100%;

    text-align: center;

    margin: 0 auto 25px;
}

.thank__illustration {
    max-width: 800px;
    width: 100%;

    display: block;

    margin: 0 auto;
}

.up_sound {
    text-align: center;
    display: none;
    width: 166px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 18%;
    right: 37%;
    bottom: 0;
    z-index: 5;
    color: #fff;
    background-color: #000;
    padding-top: 3px;
    font-size: 17px;
}

#volume_up {
    position: absolute;
    z-index: 5;
    top: 25%;
    right: 37%;
    width: 24%;
    display: none;
    cursor: pointer;
}
/* 
.anticlicker {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
} */

@media screen and (max-width: 1349px) {
    .welcome__title {
        font-size: 22px;
        margin-bottom: 35px;
    }

    .welcome__left,
    .welcome__right {
        padding: 0 10px;
    }

    .welcome__wrapper {
        margin-right: -10px;
        margin-left: -10px;
    }

    .welcome__right {
        width: 365px;
    }

    .welcome__label {
        margin-bottom: 16px;
    }

    .welcome__input {
        font-size: 15px;
        height: 46px;
    }

    .welcome__button {
        font-size: 15px;
    }

    .footer__wrapper {
        min-height: 60px;
    }

    .content {
        min-height: calc(100vh - 60px);
    }

    .thank__title {
        font-size: 36px;
    }
}

@media screen and (max-width: 1249px) {
    .welcome__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .welcome__left {
        margin-bottom: 40px;
    }

    .welcome__right {
        max-width: 400px;
        width: 100%;
    }

    .welcome__title {
        font-size: 21px;
        margin-bottom: 30px;
    }

    .thank__title {
        font-size: 32px;
    }

    .thank__description {
        font-size: 16px;
    }

    .features__list {
        justify-content: center;
    }

    .features__list > li {
        width: 50%;
        max-width: 350px;
    }
}

@media screen and (max-width: 991px) {
    .welcome {
        padding-top: 110px;
    }

    .welcome__title {
        font-size: 19px;
    }

    .header__logo {
        max-width: 135px;
    }

    .thank__title {
        font-size: 28px;
    }

    .thank__description {
        font-size: 15px;
    }


}

@media screen and (max-width: 767px) {
    .features__list > li {
        width: 100%;
    }

    .reviews__text {
        font-size: 14px;
    }

    .features, .about, .reviews {
        padding: 45px 0;
    }

    .about__item {
        max-width: 300px;
        width: 100%;

        margin: 0 auto;
    }

    .about__text br {
        display: none;
    }

    .about__list > li {
        width: 100%;
    }

    .about__list > li:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer__logo {
        max-width: 170px;
    }

    .features__icon {
        width: 55px;
        height: 55px;
    }

    .about__number {
        font-size: 30px;
    }

    .features__text {
        font-size: 13px;
    }

    .features__list {
        flex-direction: column;
        align-items: center;
    }

    .features__list li {
        max-width: 300px;
    }

    .single-testimonial-item h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    .header__wrapper {
        padding: 5px 0;
    }

    .header__logo {
        max-width: 120px;
    }

    .welcome {
        padding-top: 103px;
    }

    .container {
        padding: 0 10px;
    }

    .welcome__title {
        font-size: 18px;
        line-height: 1.4;

        margin-bottom: 25px;
    }

    .welcome__title br {
        display: none;
    }

    .welcome__left {
        margin-bottom: 25px;
    }

    .welcome__name {
        font-size: 18px;

        max-width: 280px;
        width: 100%;

        margin: 0 auto 18px;
    }

    .welcome__label {
        margin-bottom: 14px;
    }

    .welcome__input {
        font-size: 14px;
        height: 44px;
    }

    .footer__wrapper {
        padding: 10px 0;
        flex-direction: column;
    }

    .footer__logo {
        margin-bottom: 18px;
    }

    .footer__copyright {
        font-size: 11px;
    }

    .thank__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .thank__description {
        font-size: 14px;
    }
}